spring:
  application:
    name: botdefense-stepup-consumer
  main:
    web-application-type: none

  # Consumer needs Redis and Kafka.
  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.value.default.type: com.github.dimitryivaniuta.gateway.botdefense.kafka.BotDefenseEvent
        spring.json.trusted.packages: com.github.dimitryivaniuta.gateway.botdefense
        spring.json.use.type.headers: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

botdefense:
  consumer:
    captchaProviderBaseUrl: http://localhost:8082

logging:
  level:
    root: INFO
